body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 90vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  width: fit-content;
  border-radius: 20px;
  flex-direction: column;
  padding: 20px;
}

.card_membro {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 5px;
}

.card_membro:hover {
  transform: scale(1.1);
  transition: ease-out 0.5s;
}


.card_membro img {
  height: 100px;
  border-radius: 20px;
  padding-right: 10px;
}